node_modules

# Syncthing conflict files
*.sync-conflict-*

frontend/build
frontend/.env.sentry-build-plugin
frontend/.env
frontend/.graphclientrc.yml

backend/dist
backend/.env
backend/pgtyped.json
old-website-assets

