.terms {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  z-index: 2;
  color: $light-color;
  z-index: 1;
  @include smoothValue(
    "margin-left",
    15px,
    200px,
    $breakpoint-xs,
    $breakpoint-lg-3
  );
  @include smoothValue(
    "margin-right",
    15px,
    200px,
    $breakpoint-xs,
    $breakpoint-lg-3
  );
}

.title {
  font-family: $default-font-family;
  font-size: $font-size-display-md;
  font-weight: 700;
  text-transform: uppercase;
  color: $light-color;
  line-height: $line-height-display;
  letter-spacing: 0.08em;

  @include smoothValue(
    "margin-bottom",
    20px,
    40px,
    $breakpoint-xs,
    $breakpoint-lg-3
  );
}
.chapterSubitle {
  font-family: $default-font-family;
  font-weight: 700;
  font-size: clamp(0.88rem, 1.8vw, 1.2rem);
  color: $light-color;
  border-bottom: 1px solid $blue-color;
  width: fit-content;
  margin-bottom: 10px;
  line-height: $line-height-display;
}

.lastUpdated {
  font-weight: 400;
  font-size: $font-size-body-md;
  line-height: $line-height-label;
  color: $light-color;
  @include smoothValue(
    "margin-bottom",
    20px,
    52px,
    $breakpoint-xs,
    $breakpoint-lg-3
  );
}

.chapterTitle {
  text-transform: uppercase;
  line-height: 81%; // 29px
  @include smoothValue(
    "margin-bottom",
    10px,
    40px,
    $breakpoint-xs,
    $breakpoint-lg-3
  );
}

.chapter {
  @include smoothValue(
    "margin-bottom",
    30px,
    60px,
    $breakpoint-xs,
    $breakpoint-lg-3
  );
}

.chapterText {
  margin-bottom: 16px;
  color: $light-color;
  font-weight: 300;
  font-size: $font-size-body-lg;
  line-height: $line-height-body;
  &._mb34 {
    margin-bottom: 34px;
  }
  b {
    color: $light-color;
    font-weight: 600;
  }
}

.list {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.rootDiv {
  &::before {
    opacity: 0.3;
    z-index: 0;
  }
}
